<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Keresés cím alapján"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Keresés
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Tutorialok Listája</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let tutorial of tutorials; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTutorial(tutorial, i)"
        >
          {{ tutorial.title }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
        Mind Törlése
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentTutorial">
        <h4>Tutorial</h4>
        <div>
          <label><strong>Cím:</strong></label> {{ currentTutorial.title }}
        </div>
        <div>
          <label><strong>Leírás:</strong></label>
          {{ currentTutorial.description }}
        </div>
        <div>
          <label><strong>Státusz:</strong></label>
          {{ currentTutorial.published ? "Publikált" : "Várakozó" }}
        </div>
  
        <a class="badge badge-warning" routerLink="/tutorials/{{ currentTutorial.id }}">
          Módosítás
        </a>
      </div>
  
      <div *ngIf="!currentTutorial">
        <br />
        <p>A módosításhoz kattintson egy tutorialra</p>
      </div>
    </div>
  </div>
